# Visual Studio temporary files
.vscode/
.vs/
bin/
obj/
*.suo
*.user
*.userprefs
*.vscode

# User-specific files
*.rsuser
*.sln.docstates

# Visual Studio Code
.vscode/

# MSBuild publish profiles
*.pubxml

NetCore60/NetCore60/publish-folder

